doctype 5
html
  head
    meta name='author' content='Su Zhang'
    link rel='stylesheet' type='text/css' href='index.css'
    title Su Zhang
  body
    #container
      h1 Su Zhang
      table#profile
        tr
          td
            | (226)600-6052<br>
            a href='mailto:me@zhang.su' me@zhang.su
          td
            | 3B Computer Science<br>
            a href='http://github.com/zhangsu' github.com/zhangsu
          td
            | 153 Burnt Bark Dr<br>
              Scarborough, ON, M1V3J7

      h2 Skills

      #skill-cloud
        .t1 Ruby
        .t1 C
        .t3 JavaScript
        .t4 CoffeeScript
        .t4 Python
        .t3 Java
        .t2 C++
        .t3 Go
        .t7 C#
        .t7 PHP
        .t5 Bash
        .t6 Scheme
        .t6 MIPS
        .t2 Rails
        .t4 App Engine
        .t7 Spring
        .t6 Hibernate
        .t6 .NET
        .t5 Canvas
        .t2 jQuery
        .t3 Ajax
        .t6 d3.js
        .t4 CSS3
        .t1 Sass
        .t4 Compass
        .t4 Slim
        .t3 MySQL
        .t4 MSSQL
        .t6 MongoDB
        .t6 Redis
        .t6 S3
        .t3 RSpec
        .t1 Git
        .t5 POSIX
        .t3 Windows API
        .t4 Linux
        .t4 HTTP

      h2 Experience

      h3
        ' <b>Software Engineering Intern</b> at
        a href='http://google.com' Google
        .date May 2013 - Aug. 2013
      | Started internal project from scratch using Go and App Engine for
        reviewing and approving publications, in much the same way as code
        review, before they get displayed on Research at Google.

      h3
        ' <b>Software Engineering Intern</b> at
        a href='http://yelp.com' Yelp
        .date Sep. 2012 - Dec. 2012
      | Implemented QR code check-in system for Yelp elite parties and user
        events which involves programming Python, MySQL, Amason S3, Selenium,
        SMTP, jQuery, Prototype, and Twitter Bootstrap.

      h3
        ' <b>Software Developer</b> at
        a href='http://uken.com' Uken Games
        .date Jan. 2012 - Apr. 2012
      ul
        li Developed game features from front to back for Mighty Monster
            powered by Ruby on Rails, MySQL, jQuery, Ajax, SASS, and CSS3
            animations
        li Paired with senior developer to rewrite RESTful server, backed by
            Rails and Resque, for push notifications on Android, iOS, and
            BlackBerry
        li Wrote MapReduce scripts for MongoDB to analyze timeline of
            user requests
        li Enhanced SVG-based diagram of real-time server errors displayed on
            dashboard using d3.js
        li Refactored Uken's official website by fixing unmaintainable HTML
            and CSS and upgrading Rails to adopt asset pipeline

      h3
        ' <b>Software Engineering</b> at
        a href='http://harris.com' Harris Corp.
        .date May 2011 - Aug. 2011
      ul
        li Developed GUI widgets using MFC, ActiveX, and C# .NET
        li Implemented new graph nodes for network visualization software with
            C++ which involves Windows API, MSSQL, TCP/IP, and SNMP
        li Learnt PHP and improved internal QA tools powered by Apache, MySQL,
            and PHP

      h3
        ' <b>Software Developer</b> at
        a href='http://ncr.com/' NCR Corp.
        .date Sep. 2010 - Dec. 2010
      | Enhanced Java EE application for remote check deposit powered by JSP,
        Spring, EJB, and Hibernate.


      h2 Education

      h3
        <b>Bachelor of Computer Science</b>, University of Waterloo
        .date 2009 - 2014

      .page-break

      h2 Projects

      h3
        b Activitila
        .date Nov. 2012 - present
      | Redis-cached version of my activity feed merged from various sources
        written in CoffeeScript and Node.js (
      a href='http://activities.zhang.su' activities.zhang.su
      |).

      h3
        b Scorched End Audio Library (SEAL)
        .date May 2011 - present
      | C library and Ruby gem for 3D audio rendering based on OpenAL.

      h3
        b Visual Office
        .date Oct. 2012
      | Game-like visualization tool (
      a href='http://visual-office.appspot.com' visual-office.appspot.com
      | ) for office seating plan produced in October's Yelp hackathon
        exploiting CSS3 animations and Compass.

      h3
        b zhang.su
        .date May. 2012
      | CSS3 Homepage (
      a href='http://zhang.su' zhang.su
      | ) built with Slim, Sass, and CoffeeScript.

      h3
        b Lover
        .date Apr. 2012
      | Two-player survival game (
      a href='http://zhang.su/lover' zhang.su/lover
      | ) on HTML5 canvas produced in Molyjam 2012 game hackathon.

      h3
        b Sudoku and Sudoku Solver
        .date Apr. 2010
      | Form-based Sudoku game and its solver developed with C# .NET.

